<ng-include src="'app/nav/header.html'"></ng-include>

<div class="container-fluid">

  <ng-include src="'app/nav/sidebar.html'" class="col-md-2">
  </ng-include>

  <div class="col-md-10" ui-view>
  </div>

</div>